body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar.active {
    width: 250px;
}

.sidebar .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
}

.sidebar .button-style {
    padding: 10px 15px;
    text-align: left;
    margin: 5px;
    border: none;
    background-color: #818181;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar .button-style:hover {
    background-color: #f1f1f1;
    color: #111;
}

.sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.main-container {
    background-color: rgb(227, 227, 227);
    padding: 20px;
    margin: auto;
    max-width: 540px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-container {
    background-color: #fff;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

.calc-container {
    background-color: #fff;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

.question {
    font-size: 20px;
    margin-bottom: 20px;
}

.answer {
    font-size: 16px;
    padding: 10px;
    width: 70%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    box-sizing: border-box;
    height: 42px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

button {
    background-color: #eee;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
}

.keypad button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.check-answer-button {
    background-color: #f96c6c;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 42px;
    display: flex;
    align-items: center;
}

.check-answer-button:hover {
    background-color: #f44;
}

.backspace-button {
    background-color: #8397A3;
    color: white;
}

.clear-button {
    background-color: #faf284;
    color: white;
}

.button-style {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #cce5f8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-style:hover {
    background-color: #f96c6c;
}

.keypad, .operation-buttons {
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.operation-buttons {
    padding: 10px 0;
}

.input-container {
    display: flex;
    justify-content: center;
}
