body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-container {
    background-color: rgb(227, 227, 227);
    padding: 20px;
    margin: auto;
    max-width: 540px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-container {
    background-color: #fff;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

.button-container {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 50px;

}

.calc-container {
    background-color: #fff;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

.question {
    font-size: 20px;
    margin-bottom: 20px;
}

.answer {
    font-size: 16px;
    padding: 10px;
    width: 70%; /* input 필드의 너비를 줄임 */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    box-sizing: border-box; /* padding을 포함한 너비 계산 */
    height: 42px; /* 버튼의 높이와 맞춤 */
}


#result {
    margin-top: 20px;
    font-size: 18px;
}

button {
    background-color: #eee;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
}

.keypad button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.check-answer-button {
    background-color: #f96c6c;
    color: white;
    padding: 10px 25px; /* 버튼의 너비를 늘림 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 42px; /* input의 높이와 맞춤 */
    display: flex;
    align-items: center; /* 버튼 내부 텍스트를 가운데 정렬 */
}

.check-answer-button:hover {
    background-color: #f44;
}

.backspace-button {
    background-color: #8397A3;
    color: white;
}

.clear-button {
    background-color: #faf284;
    color: white;
}

.button-style {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #cce5f8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-style:hover {
    background-color: #f96c6c;
}

.keypad, .operation-buttons {
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.operation-buttons {
    padding: 10px 0;
}

#division-button {
    display: none;
}

.input-container {
    display: flex;
    justify-content: center;
}
